In [1]:
import pandas as pd, spacy, nltk, numpy as np, re, ssl

In [2]:
df = pd.read_csv("soc_2018_direct_match_title_file.csv")

In [3]:
df.head()

,2018 SOC Code,2018 SOC Title,2018 SOC Direct Match Title,Illustrative Example
0,11-1011,Chief Executives,Admiral,x
1,11-1011,Chief Executives,CEO,NaN
2,11-1011,Chief Executives,Chief Executive Officer,NaN
3,11-1011,Chief Executives,Chief Financial Officer,x
4,11-1011,Chief Executives,Chief Operating Officer,x

In [4]:
df = df.drop("Illustrative Example", axis=1)

In [5]:
df.head()

  2018 SOC Code    2018 SOC Title 2018 SOC Direct Match Title
0       11-1011  Chief Executives                     Admiral
1       11-1011  Chief Executives                         CEO
2       11-1011  Chief Executives     Chief Executive Officer
3       11-1011  Chief Executives     Chief Financial Officer
4       11-1011  Chief Executives     Chief Operating Officer

In [6]:
df["Major"] = df["2018 SOC Code"].apply(lambda x: x[:2]).apply(int)

In [7]:
# https://www.bls.gov/soc/2018/soc_2018_class_and_coding_structure.pdf determines the categorization.
def high_level_agg(number):
    if 11 <= number <= 29:
        category = "Management, Business, Science, and Arts Occupations"
    elif 31 <= number <= 39:
        category = "Service Occupations"
    elif 41 <= number <= 43:
        category = "Sales and Office Occupations"
    elif 45 <= number <= 49:
        category = "Natural Resources, Construction, and Maintenance Occupations"
    elif 51 <= number <= 53:
        category = "Production, Transportation, and Material Moving Occupations"
    else:
        category = "Military Specific Occupations"
    return category

In [8]:
df.Major.unique()

array([11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43,
       45, 47, 49, 51, 53, 55])

In [9]:
df["high_level"] = df.Major.apply(high_level_agg)

In [10]:
df.head()

,2018 SOC Code,2018 SOC Title,2018 SOC Direct Match Title,Major,high_level
0,11-1011,Chief Executives,Admiral,11,"Management, Business, Science, and Arts Occupa..."
1,11-1011,Chief Executives,CEO,11,"Management, Business, Science, and Arts Occupa..."
2,11-1011,Chief Executives,Chief Executive Officer,11,"Management, Business, Science, and Arts Occupa..."
3,11-1011,Chief Executives,Chief Financial Officer,11,"Management, Business, Science, and Arts Occupa..."
4,11-1011,Chief Executives,Chief Operating Officer,11,"Management, Business, Science, and Arts Occupa..."

In [11]:
names = {"2018 SOC Code":"SOC_code", "2018 SOC Title": "Categories", "2018 SOC Direct Match Title":"Words"}

In [12]:
df = df.rename(columns=names)

In [13]:
df.head()

,SOC_code,Categories,Words,Major,high_level
0,11-1011,Chief Executives,Admiral,11,"Management, Business, Science, and Arts Occupa..."
1,11-1011,Chief Executives,CEO,11,"Management, Business, Science, and Arts Occupa..."
2,11-1011,Chief Executives,Chief Executive Officer,11,"Management, Business, Science, and Arts Occupa..."
3,11-1011,Chief Executives,Chief Financial Officer,11,"Management, Business, Science, and Arts Occupa..."
4,11-1011,Chief Executives,Chief Operating Officer,11,"Management, Business, Science, and Arts Occupa..."

In [17]:
df.Words = df.Words.apply(lambda x: x.lower())

In [18]:
df.head()

,SOC_code,Categories,Words,Major,high_level
0,11-1011,Chief Executives,admiral,11,"Management, Business, Science, and Arts Occupa..."
1,11-1011,Chief Executives,ceo,11,"Management, Business, Science, and Arts Occupa..."
2,11-1011,Chief Executives,chief executive officer,11,"Management, Business, Science, and Arts Occupa..."
3,11-1011,Chief Executives,chief financial officer,11,"Management, Business, Science, and Arts Occupa..."
4,11-1011,Chief Executives,chief operating officer,11,"Management, Business, Science, and Arts Occupa..."

In [19]:
df.to_csv("soc-professions-2018.csv")