In [1]:
import pandas as pd, numpy as np, re, ssl

In [2]:
df = pd.read_excel("DataPanelWHR2021C2.xls", engine="xlrd")

In [3]:
df.head()

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.370100,0.450662,50.799999,0.718114,0.167640,0.881686,0.517637,0.258195
1,Afghanistan,2009,4.401778,7.539972,0.552308,51.200001,0.678896,0.190099,0.850035,0.583926,0.237092
2,Afghanistan,2010,4.758381,7.646709,0.539075,51.599998,0.600127,0.120590,0.706766,0.618265,0.275324
3,Afghanistan,2011,3.831719,7.619532,0.521104,51.919998,0.495901,0.162427,0.731109,0.611387,0.267175
4,Afghanistan,2012,3.782938,7.705479,0.520637,52.240002,0.530935,0.236032,0.775620,0.710385,0.267919

In [4]:
df_sorted = df.sort_values(by=['year'], ascending = False)

In [5]:
df_sorted.head()

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1948,Zimbabwe,2020,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523,0.702573,0.345736
174,Benin,2020,4.407746,8.102292,0.506636,55.099998,0.783115,-0.083489,0.531884,0.608585,0.304512
1835,United Kingdom,2020,6.798177,10.625811,0.929353,72.699997,0.884624,0.202508,0.490204,0.758164,0.224655
1394,Philippines,2020,5.079585,9.061443,0.781140,62.099998,0.932042,-0.115543,0.744284,0.803562,0.326889
785,Iraq,2020,4.785165,9.167186,0.707847,61.400002,0.700215,-0.020748,0.849109,0.644464,0.531539

In [6]:
df_dedup = df_sorted.drop_duplicates(subset=['Country'])

In [7]:
df_dedup.head()

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1948,Zimbabwe,2020,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523,0.702573,0.345736
174,Benin,2020,4.407746,8.102292,0.506636,55.099998,0.783115,-0.083489,0.531884,0.608585,0.304512
1835,United Kingdom,2020,6.798177,10.625811,0.929353,72.699997,0.884624,0.202508,0.490204,0.758164,0.224655
1394,Philippines,2020,5.079585,9.061443,0.781140,62.099998,0.932042,-0.115543,0.744284,0.803562,0.326889
785,Iraq,2020,4.785165,9.167186,0.707847,61.400002,0.700215,-0.020748,0.849109,0.644464,0.531539

In [8]:
len(df_sorted)

1949

In [9]:
len(df_dedup)

166

In [31]:
df_csv = pd.read_csv("countries.csv", sep=";")
mapper = {"Country or Area":"Country","Region Name":"Continent"}
df_csv.rename(columns=mapper, inplace=True)
df_csv.head()

,Global Code,Global Name,Region Code,Continent,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS)
0,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Algeria,12,DZ,DZA,NaN,NaN,NaN
1,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Egypt,818,EG,EGY,NaN,NaN,NaN
2,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Libya,434,LY,LBY,NaN,NaN,NaN
3,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Morocco,504,MA,MAR,NaN,NaN,NaN
4,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Sudan,729,SD,SDN,x,NaN,NaN

In [12]:
len(df_csv)

249

In [62]:
c1 = df_dedup["Country"]
c2 = list(df_csv["Country"])
c3 = [(country, country in c2) for country in c1]
c4 = [(country, country in c1) for country in c2]

In [68]:
num = 0
missing = []
for pair in c3:
    if pair[1]:
        num +=1
    else:
        missing.append(pair[0])
print(num)
print(len(missing))
missing

142
24

['United Kingdom',
 'Iran',
 'Hong Kong S.A.R. of China',
 'Bolivia',
 'Russia',
 'Laos',
 'Kosovo',
 'United States',
 'Ivory Coast',
 'Czech Republic',
 'South Korea',
 'Taiwan Province of China',
 'Tanzania',
 'Turkey',
 'Venezuela',
 'Moldova',
 'Swaziland',
 'Palestinian Territories',
 'North Cyprus',
 'Congo (Brazzaville)',
 'Vietnam',
 'Congo (Kinshasa)',
 'Syria',
 'Somaliland region']

In [35]:
df_csv.loc[df_csv['Country'] == "Madagascar", 'Continent'].iloc[0]

'Africa'

In [36]:
df_dedup.head()

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1948,Zimbabwe,2020,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523,0.702573,0.345736
174,Benin,2020,4.407746,8.102292,0.506636,55.099998,0.783115,-0.083489,0.531884,0.608585,0.304512
1835,United Kingdom,2020,6.798177,10.625811,0.929353,72.699997,0.884624,0.202508,0.490204,0.758164,0.224655
1394,Philippines,2020,5.079585,9.061443,0.781140,62.099998,0.932042,-0.115543,0.744284,0.803562,0.326889
785,Iraq,2020,4.785165,9.167186,0.707847,61.400002,0.700215,-0.020748,0.849109,0.644464,0.531539

In [37]:
df_cont = df_dedup.set_index('Country').join(df_csv.set_index('Country'), on='Country', how='left')

In [38]:
df_cont = df_cont.reset_index()

In [39]:
len(df_cont)

166

In [40]:
df_cont.head()

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS)
0,Zimbabwe,2020,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523,0.702573,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,716.0,ZW,ZWE,NaN,x,NaN
1,Benin,2020,4.407746,8.102292,0.506636,55.099998,0.783115,-0.083489,0.531884,0.608585,...,202.0,Sub-Saharan Africa,11.0,Western Africa,204.0,BJ,BEN,x,NaN,NaN
2,United Kingdom,2020,6.798177,10.625811,0.929353,72.699997,0.884624,0.202508,0.490204,0.758164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Philippines,2020,5.079585,9.061443,0.781140,62.099998,0.932042,-0.115543,0.744284,0.803562,...,35.0,South-eastern Asia,NaN,NaN,608.0,PH,PHL,NaN,NaN,NaN
4,Iraq,2020,4.785165,9.167186,0.707847,61.400002,0.700215,-0.020748,0.849109,0.644464,...,145.0,Western Asia,NaN,NaN,368.0,IQ,IRQ,NaN,NaN,NaN

In [41]:
# I updated the name of the output so that I don't accidentally overwrite the manual work I did at the end to add in the last few outliers.
#df_cont.to_csv("Assets/Countries/base-combined-countries.csv")

In [45]:
df3 = df_dedup.set_index('Country').join(df_csv.set_index('Country'), on='Country', how='right')

In [46]:
df3 = df3[df3.year.isnull()]

In [47]:
df3

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS)
NaN,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,Northern Africa,NaN,NaN,732,EH,ESH,NaN,NaN,NaN
NaN,British Indian Ocean Territory,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,86,IO,IOT,NaN,NaN,NaN
NaN,Eritrea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,232,ER,ERI,x,NaN,NaN
NaN,French Southern Territories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,260,TF,ATF,NaN,NaN,NaN
NaN,Mayotte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,175,YT,MYT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,882,WS,WSM,NaN,NaN,x
NaN,Tokelau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,772,TK,TKL,NaN,NaN,NaN
NaN,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,776,TO,TON,NaN,NaN,x
NaN,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,798,TV,TUV,x,NaN,x
NaN,Wallis and Futuna Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,876,WF,WLF,NaN,NaN,NaN

In [54]:
dataframes = [df_cont, df3]
df_combined = pd.concat(dataframes)
df_combined.reset_index(inplace=True)
df_combined.drop("index",axis=1, inplace=True)
df_combined

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS)
0,Zimbabwe,2020.0,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523,0.702573,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,716.0,ZW,ZWE,NaN,x,NaN
1,Benin,2020.0,4.407746,8.102292,0.506636,55.099998,0.783115,-0.083489,0.531884,0.608585,...,202.0,Sub-Saharan Africa,11.0,Western Africa,204.0,BJ,BEN,x,NaN,NaN
2,United Kingdom,2020.0,6.798177,10.625811,0.929353,72.699997,0.884624,0.202508,0.490204,0.758164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Philippines,2020.0,5.079585,9.061443,0.781140,62.099998,0.932042,-0.115543,0.744284,0.803562,...,35.0,South-eastern Asia,NaN,NaN,608.0,PH,PHL,NaN,NaN,NaN
4,Iraq,2020.0,4.785165,9.167186,0.707847,61.400002,0.700215,-0.020748,0.849109,0.644464,...,145.0,Western Asia,NaN,NaN,368.0,IQ,IRQ,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,882.0,WS,WSM,NaN,NaN,x
269,Tokelau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,772.0,TK,TKL,NaN,NaN,NaN
270,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,776.0,TO,TON,NaN,NaN,x
271,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,798.0,TV,TUV,x,NaN,x
272,Wallis and Futuna Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.0,Polynesia,NaN,NaN,876.0,WF,WLF,NaN,NaN,NaN

In [58]:
df_combined.to_csv("combined-countries.csv", index=False)

In [59]:
df_final = pd.read_csv('combined-countries.csv')

In [60]:
df_final.head()

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS)
0,Zimbabwe,2020.0,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523,0.702573,...,202.0,Sub-Saharan Africa,14.0,Eastern Africa,716.0,ZW,ZWE,NaN,x,NaN
1,Benin,2020.0,4.407746,8.102292,0.506636,55.099998,0.783115,-0.083489,0.531884,0.608585,...,202.0,Sub-Saharan Africa,11.0,Western Africa,204.0,BJ,BEN,x,NaN,NaN
2,United Kingdom,2020.0,6.798177,10.625811,0.929353,72.699997,0.884624,0.202508,0.490204,0.758164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Philippines,2020.0,5.079585,9.061443,0.781140,62.099998,0.932042,-0.115543,0.744284,0.803562,...,35.0,South-eastern Asia,NaN,NaN,608.0,PH,PHL,NaN,NaN,NaN
4,Iraq,2020.0,4.785165,9.167186,0.707847,61.400002,0.700215,-0.020748,0.849109,0.644464,...,145.0,Western Asia,NaN,NaN,368.0,IQ,IRQ,NaN,NaN,NaN

In [29]:
words = df_final.Words.apply(lambda x: x.lower())

In [30]:
words

0      afghanistan
1          albania
2          algeria
3          andorra
4           angola
          ...
192      venezuela
193        vietnam
194          yemen
195         zambia
196       zimbabwe
Name: Words, Length: 197, dtype: object